<div class="container">

<!-- Part where you choose player	 -->
	<div class="container1">
	<div class="title-container">
		<div class="title">Choose player's turn</div>
	</div>

	<div class="main">
		<div class="mode-buttons">
			<button [class.active]="selectedMode === 'player1'" (click)="selectPlayer('player1')">Player 1</button>
			<button [class.active]="selectedMode === 'player2'" (click)="selectPlayer('player2')">Player 2</button>
		</div>
	</div>
	

<!-- 	The oponent of the player is choosing the target for guessing -->
	<div class="title-container">
		<div class="title">Give the oponent a target</div>
	</div>

	<div class="main">
		<div class="select-container">
			<p>Click and select the word for your opponent:</p>
			<select class="izbor" [(ngModel)]="selectedWord" (click)="funkcija()">
				<option class="opcija" *ngFor="let word of wordsWithLengthFive" [value]="word">{{ word }}</option>
			</select>
		</div>
	</div>

<!-- Displaying total results from the first game to the last -->
	<section class="first-column">
		<div class="title-container">
		  <div class="title">Latest Score</div>
		</div>
		<div id="scoreBoxes">
		  <div id="guessResultPlayerOne">
			<strong>Player 1 <br></strong>
			Total points:<br>
			<b id="playerOneRecordGuess" class="recordGuess">{{ player1Points }}</b><br>
		  </div>
		  <div id="guessResultPlayerTwo">
			<strong>Player 2 <br></strong>
			Total points:<br>
			<b id="playerTwoRecordGuess" class="recordGuess">{{ player2Points }}</b><br>
		  </div>
		</div>
	  </section>
</div>



<!-- implementation of the wordle game -->

<div class="container2">
	<div class="title-container">
		<div class="title"> My Wordle </div>
		

	</div>
<!-- Part with boxes for guessing the word -->
	<div class="main">
		<div class="try-container" *ngFor="let try of tries" #tryContainer>
			<div class="letter-container" *ngFor="let letter of try.letters"
			    [class.match]="letter.state === LetterState.FULL_MATCH"
			    [class.partial]="letter.state === LetterState.PARTIAL_MATCH"
			    [class.wrong]="letter.state === LetterState.WRONG"
			    [class.has-text]="letter.text !== ''">
				{{letter.text}}
			</div>
		</div>
	</div>

<!-- Keyboard in case you dont have a physical one -->
	<div class="keyboard-container">
		<div [class]="['row' + i, 'row'].join(' ')"
		    *ngFor="let row of keyboardRows; let i = index">
			<div *ngFor="let key of row" [class]="getKeyClass(key)"
			    [class.enter]="key === 'Enter'"
					(click)="handleClickKey(key)">
				<div *ngIf="key !== 'Backspace'; else backspace">
				  {{key}}
				</div>
				<ng-template #backspace>
					<img src="../../assets/backspace.svg"/>
				</ng-template>
			</div>
		</div>
	</div>

<!-- Nice comment if you win, the correct answer if you lose	 -->
	<div class="info-msg"
	    [class.show]="infoMsg !== ''"
	    [class.fade-out]="fadeOutInfoMessage">
		{{infoMsg}}
	</div>

	<div class="share-dialog-container" [class.show]="showShareDialogContainer">
		<div class="share-dialog" [class.show]="showShareDialog">
			<button (click)="handleClickShare()">Share</button>
		</div>
	</div>
</div>
</div>