<div class="main_container">
    <!-- <div class="body"> -->
        <div class="navbar">
            <h1>--------------NAVBAR--------------</h1>
        </div>
        <div class="container2">
            <div class="container2-1">
                <div class="wordle_grid_container">

                </div>

                <div class="button-container">
                    <button id="button_show_result" onclick="showResult">OK</button>
                    <button id="focus_button" onClick="focusOn">Need more focus?</button>
                </div>

                <div class="result_text_container">

                </div>

            </div>
            <div class="container2-2">

                <div class="subway_surfers_container">
                
                </div>
            </div>
        </div>
    <!-- </div> -->
</div>