<div class="main_container">
  <!-- <div class="body"> -->
  <app-navbar class="nav"></app-navbar>
  <div class="container2">
    <div class="container2-1">
      <app-insert-word class="wordle_grid_container"></app-insert-word>
      <div class="button-container">
        <button class="button2">Assist me</button>
        <button class="button2">Can't focus?</button>
      </div>

      <div class="result_text_container"></div>
    </div>
    <div class="container2-2">
      <div class="subway_surfers_container"></div>
    </div>
  </div>
  <!-- </div> -->
</div>
